/*----GOOGLE FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: auto;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: white;
    transition: left 300ms;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    
}

.side-header {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3, side-head span {
    color:  #107869;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bolder;

}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0; 
  border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.profile {
    text-align: center;
    padding: 1rem 1rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-size: cover;
}

.profile-img {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 1px solid rgba(0, 0, 0, 0.847);
}

.profile h4 {
    color: black;
    font-weight: 200;
    font-size: 12px;
}

.profile small {
    color: black;
    font-weight: 600;
}

.sidebar {
    /*overflow-y: auto;*/
}

.side-menu ul {
    text-align: center;
}

.side-menu ul li:active {
    
}




.side-menu a {
    display: block;
    padding: 1.2rem 1rem;
}

.side-menu a.active {
    background: #D1D1D1;
}

.side-menu a:active {
    background: #D1D1D1;
}

.side-menu a:hover {
    background-color: #D1D1D1;
}

.side-menu a.active span, .side-menu a.active small {
    color: rgb(0, 0, 0);
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

.side-menu a span {
    color: black;

}

.side-menu a small {
    font-weight: 200;
    font-size: 12px;
    color: black;
}




#menu-toggle:checked ~ .sidebar {
    width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
    display: none;
}

#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
}


.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
}

header {
    position: sticky;
    right: 0;
    top: 0;
    left: 173px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #107869;
    transition: left 300ms;
}

.header-content, .header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    color: white;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 60px;
}

.header-content label:first-child span {
    font-size: 2rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 1.5rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: rgb(199, 0, 0);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

}

.user div, .client-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.user a {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
    color: white;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.1rem 1.2rem;
    background: #E9edf2;
    border-bottom: 1px solid #dee2e8;
    justify-content: center;
    display: flex;
}

.page-header h1, .page-header small {
    color: #74767d;
    font-size: 18px;
    font-weight: bold;
}

.page-content {
    padding: 1rem 2rem;
    background: white;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25 );
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-progress .card-date{
    font-size: 12px;
    margin-top: 12px;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}


.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #f25656;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
}

.record-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add, .browse {
    display: flex;
    align-items: center;
}

.add span {
    display: inline-block;
    margin-right: .6rem;
    font-size: .9rem;
    color: #666;
}

input, button, select {
    outline: none;
}

.add select, .browse input, .browse select {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    width: 75px;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.add button {
    background: var(--main-color);
    color: #fff;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}

.browse input {
    width: 150px;
}

.browse select {
    width: 100px;
}

.table-responsive {
    width: 100%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table thead th {
    padding: 1rem 1.4rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 1.4rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

.client {
    display: flex;
    align-items: center;
}

.client-img {
    margin-right: .5rem;
    border: 1px solid #9a8c8c;
    height: 45px;
    width: 45px;    
}

.client-info h4 {
    color: #555;
    font-size: .95rem;
}

.client-info small {
    color: #777;
}

.actions span {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.paid {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
    background: #e5f8ed;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
}

@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    
    .sidebar {
        left: -165px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    
    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 165px;
    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .main-content header {
        left: 0px;
    }
    
    table {
        width: 900px;
    }
}





.carousel {
    display: flex;
    align-items: center;
}

.carousel-img {
    border: 1px solid #9a8c8c;
    height: 50px;
    width: 100%;
}

.carousel-img .cr-img img {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-info h4 {
    color: #555;
    font-size: .95rem;
}

.carousel-info small {
    color: #777;
}

.actions span {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
}

#cr_desc{

}   

.table-title{
    font-weight: solid;
    font-size: 20px;
    text-align: left;
    color: #333;
    margin: 20px 0;
    display: inline;
}

.table-container{
    position: relative;
    top: 80px;
    padding: 40px;
}

.table{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: auto;
}

th, td{
    padding: 8px;
    font-size: 14px;
}

thead{
    background-color: #333;
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2%;
}

thead th{
    width: auto;
    height: fit-content;
}

tbody tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:nth-child(even){
    background-color: #eee;
}
tr .action, th .action{
    text-align: center;
}

tr div.action{
    display: flex;
    justify-content: center;
}

td a{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
  
a.action-edit{
    background-color: orange;
}
  
a.action-delete{
    background-color: rgb(211, 79, 79);
}

a.action-view{
    background-color: rgb(35, 190, 241);
}
  
a.action-edit:hover, a.action-delete:hover,  a.action-view:hover{
    opacity: 0.6;
    cursor: pointer;
}

.table-container .button{
    width: fit-content;
}

.table-container .table-heading{
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.table-container .table img{
    width: 100%;
    height: 100px;
}

.button{
    background-color: #107869;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    
}




.table-title{
    font-weight: solid;
    font-size: 20px;
    text-align: left;
    color: #333;
    margin: 20px 0;
    display: inline;
}

.table-container{
    position: relative;
    top: 80px;
    padding: 40px;
}

.add-form{
    max-width: 400px;
  }

  form.add-form .button{
    display: block;
    margin: 0 0 0 auto;
  }

  .form-size{
    max-width: 400px;
  }

  a.back{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #107869;
  }

  .add-form-container{
    display: flex;
    flex-direction: row;
}

.add-form-container p.error{
    text-align: justify;
    line-height: 20px;
    padding: 0;
    font-size: 12px;
}

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

 .bx-caret-left{
    font-size: 24px;
    color: #107869;
  }

.dataTables_length{
    display: block ruby;
}

div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  form{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1rem;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
    display: block;
  }
  
  input[type=submit]:hover{
    opacity: 0.6;
  }
  
  input[type=file]{
    display: block;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type=file]:hover{
    opacity: 0.6;
  }
  
  hr{
    margin-bottom: 20px;
  }
  
  div h3{
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  img.small{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  }
  
  .hidden-preview{
    display: none;
  }     