/* Googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
  }

/* Colors */
:root {
  --color-default: #222222;
  --color-primary: #008374;
  --color-secondary: #f85a40;
}


*{
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    /*background-color: #e3eef5;*/
    overflow: none;
}

.title{
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-size: 120%;
    padding-bottom: 20px;
}

.divider{
    border: 0;
    border-bottom: 1px  solid rgb(70, 70, 70);
    width: 100%;
    margin: none;
}

.button{
    background-color: #107869;
    color: white;
    border: none;
    
}

.button:hover{
    opacity: 0.9;
}

.error{
    color: #c51244;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}

.login-container{
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: none;
    background-image: url('../img/h2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.login-form .divider{
    margin-top: 15px;
}

.login-form .button{
    margin-top: 25px;
    line-height: 27px;
    
}

.login-form a {
    text-decoration: none;


}

.login-form a {
    text-align: center;
    color: #107869;


}

.login-form{
    max-width: 350px;
    padding: 20px;
    margin: 0 auto;
    /*background-color: white;*/
    border-radius: 6px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0.25, 0.25);
    /*opacity: 0.9;*/
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(9px);

}

.login-form .logo-details{
    height: none;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    margin-bottom: 15px;
}

.login-form .logo-details i{
    font-size: 40px;
    font-weight: 800;
    color: #107869;
    text-align: center;
    padding-right: 5px;
}

.login-form .logo-details img {
    display: flex;
    height: 120px;
    width: 130px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.login-form .logo-details .logo-name{
    color: #107869;
    font-size: 35px;
    font-weight: 500;
    font-family: Montserrat;
    text-align: center;
    
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #a5a5a5;
    background-color: white;
}

input[type=radio]{
    width: auto;
}

label{
    margin-right: 20px;
}

.side-bar{
    position: fixed;
    width: 250px;
    height: calc(100vh);
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.side-bar .logo-details{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #008374;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    
}

.side-bar .logo-details i{
    font-size: 28px;
    font-weight: 800;
    color: white;
    min-width: 60px;
    text-align: center;


}

.side-bar .logo-details .side-bar-button {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    background-color: none;
}

.side-bar .logo-details .logo-name{
    color: #fff;
    font-size: 14px;
    font-weight: none;
    text-align: center;
    /*line-height: 11px;*/
    white-space: nowrap;
    margin-bottom: 5px;
}

.side-bar .nav-links{
    height: calc(100vh);
}

.side-bar .nav-links .profile-details { 
    height: 100px;
}

.side-bar .nav-links .profile-details img{ 
    height:  100px;
    width: 250px;
    position: absolute;
    opacity: none;
    

}

.side-bar .nav-links .profile-details img:hover{ 

    opacity: none;

}


.side-bar .nav-links .profile-details i{ 

    position: absolute;
    color: white;
    font-weight: bold;

}

.side-bar .nav-links .profile-details .admin-name{ 

    position: absolute;
    margin-left: 60px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;

}

.side-bar .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
}

.side-bar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.side-bar .nav-links .active{
    background-color: #EBEBEB;
}

.side-bar .nav-links li a:active{
    background-color:   #EBEBEB;
}

.side-bar .nav-links li a:hover{
    background-color:   #EBEBEB;
}

.side-bar .nav-links li i{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: black;
}

.side-bar .nav-links li a .links-name{
    color: black;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.side-bar .nav-links .line{
    margin: 10px auto;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
}

.home-section{
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    
}

.home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #008374;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    z-index: 999;
    box-shadow: none;
    padding: 0 20px;
}


.home-section nav .logo-img{
    display: flex;
    height: 80%;
    min-width: 100%;

}

.home-section nav .logo-img img{
    margin-left: auto;
    
}


.home-section nav .side-bar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

nav .side-bar-button i{
    font-size: 35px;
    margin-right: 10px;
}

.table-title{
    font-weight: solid;
    font-size: 20px;
    text-align: left;
    color: #333;
    margin: 20px 0;
    display: inline;
}

.table-container{
    position: inherit;
    top: 80px;
    padding: 40px;
}

.table{
    border-collapse: collapse;
    border: 2px solid black;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    overflow: auto;
}

th, td{
    padding: 8px;
    font-size: 14px;
}

thead{
    background-color: #333;
    color: white;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 2%;
}

thead th{
    width: auto;
    height: fit-content;
}

tbody tr:nth-child(odd){
    background-color: #fff;
}

tbody tr:nth-child(even){
    background-color: #eee;
}
tr .action, th .action{
    text-align: center;
}

tr div.action{
    display: flex;
    justify-content: center;
}

td a{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
  
a.action-edit{
    background-color: orange;
}
  
a.action-delete{
    background-color: rgb(211, 79, 79);
}

a.action-view{
    background-color: rgb(35, 190, 241);
}
  
a.action-edit:hover, a.action-delete:hover,  a.action-view:hover{
    opacity: 0.6;
    cursor: pointer;
}

.table-container .button{
    width: fit-content;
}

.table-container .table-heading{
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.home-section .home-content{
    position: relative;
}

.home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
    padding-top: 104px;
}

.overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25 );
    margin-top: none;

}

.overview-boxes .box-topic{
    font-size: 16px;
    font-weight: 500;
}

.home-content .box .number{
    display: inline-block;
    font-size: 25px;
    margin-top: 5px;
    font-weight: 500;
}

.home-content .box .indicator{
    display: flex;
    align-items: center;
}

.home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.home-content .box .indicator .text{
    font-size: 12px;
}

.home-content .box .cart{
    display: inline-block;
    font-size: 27px;
    height: 40px;
    width: 40px;
    background: #cce5ff;
    line-height: 40px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .cart.two{
     color: #2BD47D;
     background: #C0F2D8;
}

.home-content .box .cart.three{
     color: #ffc233;
     background: #ffe8b3;
}

.home-content .box .cart.four{
     color: #e05260;
     background: #f7d4d7;
}

.approved{
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 12px;
    font-size: 12px;
}

.declined{
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 12px;
    font-size: 12px;
}
#logout-link{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

a.button{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
}

.add-form-container{
    display: flex;
    flex-direction: row;
}

.add-form-container p.error{
    text-align: justify;
    line-height: 20px;
    padding: 0;
    font-size: 12px;
}

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 5px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  /* Create a custom checkbox */
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkbox {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkbox {
    background-color: #2196F3;
  }
  
  /* Create the checkbox/indicator (hidden when not checked) */
  .checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkbox when checked */
  .container input:checked ~ .checkbox:after {
    display: block;
  }
  
  /* Style the checkbox/indicator */
  .container .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .add-form{
    max-width: 400px;
  }

  form.add-form .button{
    display: block;
    margin: 0 0 0 auto;
  }

  .form-size{
    max-width: 400px;
  }

  a.back{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #107869;
  }

    .bx-caret-left{
        font-size: 24px;
        color: #107869;
    }

  div.dialog p{
    text-align: center;
  }

  .bx-menu.large{
    display: none;
  }

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #008374;
    color: white;
    font-weight: bold;
    align-items: center;
  }

  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
  }

  /*--------------LINE FOR WEBSITE-----------------------*/



  
  .topnav {
    overflow: hidden;
    background-color: #008374;
    position: fixed;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: #008374;
    text-decoration: none ;
  }
  
  .topnav a.active {
    background-color: white;
    color: #008374;
  }

  .topnav .right {
    color: white;
    float: right;
  }

section{
    width: auto;
    height: auto;
    display: block;
}
section.sec1 {
    background-image: url('../img/h2.jpg');
    background-size: cover;
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 500px;
    object-fit: contain;
}

section.sec2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.announcement-container {
    display: grid;
    justify-content: center;
}

.announcement-container .announcements {
    background-color: none;
    height: 50px;
    font-size: 50px;
}

.announcement-container .announcement-content {
    background-color: #b3f5ed;
    width: fit-content;
    padding: 30px;
    margin-top: 30px;
}

.program-container {
    display: grid;
    justify-content: center;
}

.program-container .program {
    background-color: none;
    height: 50px;
    font-size: 50px;
}

.program-container .program-content {
    background-color: #b3f5ed;
    width: fit-content;
    padding: 30px;
    margin-top: 30px;
}


  
  

footer {
    background-color: #008374;;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0px;
    height: 100px;
    position: static;
  }

footer p {
    
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    
}


div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  form{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1rem;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
    display: block;
  }
  
  input[type=submit]:hover{
    opacity: 0.6;
  }
  
  input[type=file]{
    display: block;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type=file]:hover{
    opacity: 0.6;
  }
  
  hr{
    margin-bottom: 20px;
  }
  
  div h3{
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  img.small{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  }
  
  .hidden-preview{
    display: none;
  } 

  @media screen and (max-width: 1200px) {
    .modal-content{
      width: 40%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .modal-content{
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .table button{
      float: left;
      display: block;
      padding: 8px;
      box-shadow: 0px 0px 1px 1px rgb(0,0,0);
      margin-bottom: 16px;
    }
  
    .table h3{
      display: block;
      font-size: 16px;
    }
  
    td a{
      padding: 4px 8px;
    }
  
    #addform #submit, #editform #submit{
      width: 100%;
    }
  
    .modal-content{
      width: 70%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .modal-content{
      width: 90%;
    }
  }

