/* ------------ */

div.admin-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .admin-modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  form{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1rem;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
    display: block;
  }
  
  input[type=submit]:hover{
    opacity: 0.6;
  }
  
  input[type=file]{
    display: block;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  input[type=file]:hover{
    opacity: 0.6;
  }
  
  hr{
    margin-bottom: 20px;
  }
  
  div h3{
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  img.small{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  }
  
  .hidden-preview{
    display: none;
  } 

  @media screen and (max-width: 1200px) {
    .admin-modal-content{
      width: 40%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .admin-modal-content{
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .table button{
      float: left;
      display: block;
      padding: 8px;
      box-shadow: 0px 0px 1px 1px rgb(0,0,0);
      margin-bottom: 16px;
    }
  
    .table h3{
      display: block;
      font-size: 16px;
    }
  
    td a{
      padding: 4px 8px;
    }
  
    #addform #submit, #editform #submit{
      width: 100%;
    }
  
    .admin-modal-content{
      width: 70%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .admin-modal-content{
      width: 90%;
    }
  }