/*----GOOGLE FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*----BOOTSRAP ICON----*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


:root{
  --color-white: #fff;
  --color-black: #222;
  --color-green: #107869;
  --color-light-green: #0eb582;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #0eb582;
}

section {
  padding: 5rem 10%;

}

/*------- HEADING START ----------*/

.heading-link {
  text-align: center;
  background: url("../images/carousel-images/phsi-carousel.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
  
.heading-link h3 {
  font-size: 4rem;
  text-transform: none;
  color: #444;
}
  
.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}
  
.heading-link p a {
  color: #0eb582;
}
  
.heading-link p a:hover {
  text-decoration: none;
}
  
.heading {
  text-align: center;
  margin: 3rem;
  font-size: 3.5rem;
  text-transform: none;
  color: #444;
}

/*------- HEADING END ----------*/


/*---------- BUTTON START -----------*/

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid var(--color-green);
  background: #ffffff;
  color: var(--color-green);
  cursor: pointer;
  text-transform: none;
}

.btn:hover {
  background: var(--color-green);
  color: #fff;
}

/*---------- BUTTON END -----------*/


/*-----------HEADER START----------*/

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff; 
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--color-green);
  font-weight: bolder;
  text-decoration: none;
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  border: 1px solid var(--color-green);
  cursor: pointer;
}

.header img:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  cursor: pointer;
  border: 3px solid var(--color-green);
}

.header .navbar {
  position: relative;

}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 4rem;
  font-size: 16px;
  text-transform: capitalize;
  color:  black;
  font-weight: 400;
  text-decoration: none;
}

.header .navbar a i{
  font-size: 20px;
  padding: 0 5px;
  margin: 3px;
  
}

.header .navbar a:hover { 
  color: #0eb582;
}

.header .icons {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header .icons div {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color:  #107869;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header .icons div a {
  color:  #107869;
}

.header .icons div:hover {
  color: #0eb582;
  text-decoration: none;
}


.header .icons a:hover {
  color: #0eb582;
  text-decoration: none;
}

.header #menu-btn {
  display: none;
}

.header .icons .user {
  border-radius: 50%;
  border: 1px solid;
  height: 30px;
  width: 30px;
}

.header .icons .users .bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-size: cover;
}

/* Dropdown Button */
.dropbtn {
  margin-right: 4rem;
  font-size: 16px;
  text-transform: capitalize;
  color:  black;
  font-weight: 400;
  background-color: white;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
color: black;
width: 100%;
padding: 10px 20px;
text-decoration: none;
display: block;
}
  
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #0eb582;
} 
/*----------- HEADER END ----------*/


/*----------- LOGIN ACCOUNT FORM START ----------*/
.login-container{
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: none;
    background-image: url('../images/carousel-images/phsi-carousel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;  
}

.login-form .divider{
  color: black;
}

.login-form .button{
  line-height: 18px;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-green);  
}

.login-form .button:hover{
  background: var(--color-green);
  color: white;
}

.login-form a {
    text-decoration: none;
}

.login-form a {
  text-align: center;
  color: #107869;
}

.login-form{
  max-width: 350px;
  padding: 0 20px 20px;
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(9px);
  font-size: 12px;
}

.login-form .logo-details{
    height: none;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    padding-top: 10%;
}

.login-form .logo-details i{
    font-size: 40px;
    font-weight: 800;
    color: #107869;
    text-align: center;
    padding-right: 5px;
}

.login-form .logo-details img {
    display: flex;
    height: 120px;
    width: 130px;
    margin-left: 35px;
    margin-bottom: none;
}

.login-form .logo-details .logo-name{
    color: #107869;
    font-size: 35px;
    font-weight: 500;
    font-family: Montserrat;
    text-align: center;
    
}

.login-container .login-form .remember-me{
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.login-container .login-form .error{
  color: red;
  justify-content: center;
  display: flex;
  padding-top: 12px;
}

input, select, textarea {
    width: 100%;
    padding: 14px;
    margin: none;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #a5a5a5;
    background-color: white;
}

/*----------- LOGIN ACCOUNT FORM END ----------*/


/*------------ SIGN UP FORM START ----------------*/

.signup{
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('../images/carousel-images/phsi-carousel.jpg');
}

.signup-container{
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  padding: 25px 50px;
  border-radius: 5px;
  background: rgba(255,255,255,0.35);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.signup-container .content{
  margin: 30px;
}
.signup-container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  justify-content: center;
  display: flex;
}

.signup-container .sub-title{
  font-size: 25px;
  font-weight: 400;
  position: relative;
  margin-top: 1.5rem;
}

.signup-container .sub-title span{
  font-size: 15px;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
}

form .input-box span.details-opt{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
}

form .input-box span.details::after{
  content: " *";
  color: red;
}

form .input-box .details-opt::after{
  content: " *";
  color: red;
  display: none;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.user-details .input-box select{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus
/*.user-details .input-box input:valid*/{
  border-color: var(--color-green);
}
 
form .gender-details .gender-title{
  font-size: 14px;
  font-weight: 500;
}

form .category{
   display: flex;
   width: 25%;
   margin: 14px 0 ;
   justify-content: space-between;
}

form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
}

form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

form .category .gender{
  font-size: 14px;
}

.have-account{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 0;
}

.have-account span a{
  color: var(--color-green);
}

 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: var(--color-green);
   border-color: #d9d9d9;
}
 
form input[type="radio"]{
   display: none;
}

form .button{
   margin: 35px 0
}

form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: 1px solid #a5a5a5;
   color: var(--color-green);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: white;
 }

 form .button input:hover{
  background: var(--color-green);
  color: white;
}



@media(max-width: 584px){
 .signup-container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .signup-container .content .category{
    flex-direction: column;
  }
}



.wmsu-status {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
}

/* Hide the browser's default checkbox */
.wmsu-status input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.wmsu-status:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.wmsu-status input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.wmsu-status  input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.wmsu-status  .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

/*----------- SIGN UP FORM END -------------------*/

/*----------- HOME START ----------*/
.home {
  padding: 0;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide .content {
  width: 100rem;
}

.home .slide .content h3 {
  font-size: 5rem;
  text-transform: none;
  color: #444;
  color: #fff;
}

.home .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}

.home .slide #unesco_content h3 {
  color: var(--color-green);
}

.home .slide #unesco_content p {
  color: #777;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--color-green);
  margin: auto;
  background-color: white;
  padding: 20px;
  border: 0.1rem solid var(--color-green);

}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
  content: 'prev';
  font-size: 20px;
}


.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  font-size: 20px;
  content: 'next';

}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: var(--color-green);
  color: var(--color-white)

}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  background: var(--color-white);
}
/*----------- HOME END ----------*/



/*---------------- ORGANIZATIONS BOX IN HOME PAGE START -------------------*/

.organization .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.organization .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #ffffff;
}

.organization .box-container #unesco {
  background-image: url("../images/carousel-images/unesco-carousel.png");
  background-size: cover;

}

.organization .box-container #biorisk {
  background-image: url("../images/carousel-images/biorisk-carousel.png");
  background-size: cover;
}

.organization .box-container #unesco:hover  {
  background:  maroon;
}

.organization .box-container #biorisk:hover  {
  background: var(--color-green);
}

.organization .box-container .box:hover h3 {
  color: #fff;
}

.organization .box-container .box:hover p {
  color: #eee;
}

.organization .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
  display: initial;
}

.organization .box-container .box h3 {
  font-size: 1.7rem;
  color: white;
  padding: .5rem 0;
}

.organization .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: white;
}
/*---------------- ORGANIZATION BOX IN HOME PAGE END -------------------*/



/*---------------- FREE CONTENT START -------------------*/
.free_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.free_content .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.free_content .image img {
  width: 100%;
}

.free_content .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.free_content .content .about-title {
  font-size: 4.5rem;
  text-transform: none;
  color: #444;
}

.free_content .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}


.free_content .content .icons-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.free_content .content .icons-container .icons {
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  padding: 3rem 2rem;
}

.free_content .content .icons-container .icons img {
  height: 5rem;
  margin-bottom: .5rem;
}

.free_content .content .icons-container .icons h3 {
  padding: .5rem 0;
  font-size: 3rem;
  text-transform: none;
  color: #444;
}

.free_content .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
/*---------------- FREE CONTENT END ------------------*/


/*---------------- REVIEWS START -------------------*/
.reviews .slide {
  text-align: center;
}

.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  position: relative;
  background: #f0fdfa;
  border: 0.1rem solid #0eb582;
  margin-bottom: 3rem;
  padding: 2rem;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1.1rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  background: #f0fdfa;
  border-bottom: 0.1rem solid #0eb582;
  border-right: 0.1rem solid #0eb582;
  height: 2rem;
  width: 2rem;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: -webkit-inline-box;
}

.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.reviews .slide .stars {
  font-size: 1.2rem;
  color: #0eb582;
}

.reviews .slide .label {
  font-size: 14px;
  color: #000000;
}
/*---------------- REVIEWS END -------------------*/


/*---------------- ANNOUNCEMENTS START -------------------*/


.announcements .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.announcements .box-container .box {
  background-color: none;
}


.announcements .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.announcements.box-container .box.hide {
  display: none;
}

.announcements .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.announcements .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.announcements .box-container .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  background: #fff;
}

.announcements .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
}

.announcements .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: none;
  color: #444;
}

.announcements .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}

.announcements .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #0eb582;
}

.announcements .box-container .box .content .icons span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}

.announcements .box-container .box .content .icons span i {
  color: #0eb582;
  padding-right: .5rem;
}

.announcements .load-more {
  margin-top: 2rem;
  text-align: center;

}

/*---------------- ANNOUNCEMENTS END -------------------*/

/*---------------- ADMINISTRATION START -------------------*/


.administration .slide {
  text-align: center;
}

.administration .slide:hover .image img {
  background: #0eb582;
}

.administration .slide:hover .image .share {
  bottom: 0;
}

.administration .slide .image {
  position: relative;
  overflow: hidden;
}

.administration .slide .image img {
  background: #e8faf4;
  width: 100%;
}

.administration .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.administration .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}

.administration .slide .image .share a:hover {
  color: #0eb582;
}

.administration .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  margin-top: 2rem;
}

.administration .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}


/*---------------- ADMINISTRATION END -------------------*/

/*---------------- HISTORY CONTENT START -------------------*/
.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  max-width: 1700px;
  justify-content: center;
  align-items: center;
}

.history .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.history .image img {
  width: 100%;
}

.history .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.history  .content .about-title {
  font-size: 4.5rem;
  text-transform: none;
  color: #444;
}

.history .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}


.history .content .icons-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.history .content .icons-container .icons {
  text-align: center;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  padding: 3rem 2rem;
}

.history .content .icons-container .icons img {
  height: 5rem;
  margin-bottom: .5rem;
}

.history .content .icons-container .icons h3 {
  padding: .5rem 0;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.history .content .icons-container .icons span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
/*---------------- HISTORY CONTENT END ------------------*/

/*---------------- MISSION AND VISION START ------------------*/
.misvis{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.misvis .misvis-content .misvis-title {
  font-size: 4.5rem;
  text-transform: none;
  color: #444;
}

.misvis .misvis-content  p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}
/*---------------- MISSION AND VISION END ------------------*/


/*---------------- CONTACT START ------------------*/
.contact .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  color: #fff;
  background: #0eb582;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #0eb582;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.contact .row form .box:focus {
  background: #0eb582;
  color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::placeholder {
  color: #eee;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}
/*---------------- CONTACT END ------------------*/


/*---------------- NEWS START ------------------*/
.news{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.news .news-content .news-title {
  font-size: 4.5rem;
  text-transform: none;
  color: #444;
  display: flex;
  justify-content: center;
  text-align: center;
}

.news .news-content .image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 50%;
}

.news .news-content .desc {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin: 20px;
  text-align: center;
  font-size: 12px;

}

.news .news-content .desc p {
  font-size: 1.5rem;
  width: 600px;
  justify-content: center;
  display: flex;
  padding: inherit;
}


.news  .news-content  p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

/*---------------- NEWS END ------------------*/


/*---------------- UPCOMING EVENTS START ------------------*/
.events-container {
  display: flex;
	justify-content: center;
  margin: 50px;
}

.event {
	background-color: #fff;
	display: flex;
	max-width: 100%;
	margin: 15px;
	overflow: hidden;
	width: 1000px;
}

.event h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.event h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.event-image-container {
  justify-content: center;
  align-items: center;
  display: grid;
	background-color: transparent;
	color: #fff;
	max-width: 250px;
}

.event-image-container img {
  height: 20rem;
  border-radius: 50%;
  width: 25rem;
}

.event-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.event-info h6 {
  font-size: 12px;
}

.event-info span {
  color: var(--color-green);
}

.event-info h2 {
  font-size: 20px;
}

.event-info .event-content {
  padding-bottom: 10px;
}

.event-info .event-content p {
  font-size: 14px;
}

.event-organizers .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
}

.event-organizers .box-container .box{
  
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.2rem;
  border-radius: .5rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 71.5%;
}

.event-organizers .box-container .box img{
  height: 28.5rem;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 50%;
}

.event-organizers .box-container .box h3{
  font-size: 2rem;
  color:var(--primary-color);
  margin:1.5rem 0;
  font-weight: 1000;
}

.event-organizers .box-container .box p{
  font-size: 1.5rem;
  color:var(--black);
  line-height: 2;
}

/*---------------- UPCOMING EVENTS END ------------------*/

/*---------------- EVENT PAGE START --------------------------*/

.event-heading{
  padding: 0;
}

.event-heading .img img {
  width: 100%;
  height: 69vh;
}

.event-heading .event-content{
  position: absolute;
  top: 0;
  width: 100%;
  height: 78.5%;
  background: rgba(0, 0, 0, 0.656);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.event-heading .event-content{
  font-size: 30px;
} 

.event-heading .event-content h2{
  padding: 40px 2%;
  font-weight: 400;
  text-decoration: underline;
}

.event-banner-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

  
.event-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  border-radius: 50%;
}

.event-infos {
  text-align: center;
  color: white;
}
  
.event-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 3rem;
}

.rsvp-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp-container .rsvp-box{
  padding: 50px;
  border: 1px solid   #dadce0;
  box-shadow: 0 1px 1px rgba(86, 85, 85, 0.14);
}

.rsvp-container .rsvp-box p{
  font-size: 40px;
}

.rsvp-container .rsvp-box h5{
  font-size: 12px;
  font-weight: 200;
  float: right;
}

.rsvp-container .rsvp-box .btn{
  width: 100%;
  justify-content: center;
  display: flex;
}

.about-event .about-heading{
  font-size: 40px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
}

.about-event p{
  font-size: 16px;
}

.event-information{
  background-color: #f1f3f4;
}

.event-information i {
  color: var(--color-green);
  font-size: 24px;
  font-weight: 700;
}

.event-info-container .bi::before {
  background: var(--color-green);
  color: white;
  padding: 10px;
  border-radius: 100px;
}

.event-information span{
  color: black;
  font-weight: 600;
  padding-left: 20px;
  font-style: normal;
  background-color: none;
}

.event-information p{
  font-size: 16px;
  padding: 15px;
  margin-left: 45px;
}

.event-agenda-container i{
  font-size: 24px;
}

.event-agenda-container .bi::before {
  background: var(--color-green);
  color: white;
  padding: 10px;
  border-radius: 100px;
}

.event-agenda-container .agenda-label{
  font-weight: 600;
}

.event-agenda-container .uil::before {
  font-size: 30px;
}


/*---------------- EVENT PAGE END --------------------------*/


/*---------------- FOOTER START -------------------*/

.footer {
  background: #f0fdfa;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #0eb582;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #0eb582;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #444;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #0eb582;
  text-decoration: none;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #0eb582;
}

.footer .credit span {
  color: #0eb582;
}

/*---------------- FOOTER END  -------------------*/



/*---------------- MEDIA QUERY : RESPONSIVENESS START  -------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {

  .header .icons{
    display: ruby;

  }
  .header #menu-btn {
    display: inline-block;
    display: contents;
  }

  .header{
    padding: 1.5rem;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    right: -1000%;
    width: 50rem;
    background: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1200;
    font-size: 3rem;
  }
  
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
    justify-content: center;
    align-items: center;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }

  .header .navbar .dropbtn{
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }



  .events-container {
  display: flex;
	justify-content: center;
  margin: 50px;
}

.event {
	background-color: #fff;
	display: block;
	max-width: 100%;
	margin: 15px;
	overflow: hidden;
	width: 1000px;
}

.event h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.event h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.event-image-container {
  justify-content: center;
  align-items: center;
  display: grid;
	background-color: transparent;
	color: #fff;
	max-width: 250px;
  margin: auto;
}

.event-image-container img {
  height: 20rem;
  border-radius: 50%;
  width: 25rem;
}

.event-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.event-info h6 {
  font-size: 12px;
  justify-content: center;
  display: flex;
}

.event-info span {
  color: var(--color-green);
}

.event-info h2 {
  font-size: 20px;
  justify-content: center;
  display: flex;
}

.event-info .event-content {
  padding-bottom: 10px;
}

.event-info .event-content p {
  font-size: 14px;
}

.btn {
  justify-content: center;
  display: flex;
}



  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1rem;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  .footer .box-container {
    display: -ms-grid;
    display: block;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1rem;
  }
}

/* Medium devices (landscape tablets, 450px and up) */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }

  .login-form{
    max-width: 350px;
    padding: 20px;
    margin: auto;
    /*background-color: white;*/
    border-radius: 6px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    /*opacity: 0.9;*/
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(9px);
    font-size: 12px;

}

  .footer .box-container {
    display: -ms-grid;
    display: block;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1rem;
    align-items: center;
    
  }

  .events-container {
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
  .event {
    background-color: #fff;
    display: block;
    max-width: 100%;
    margin: 15px;
    overflow: hidden;
    width: 1000px;
  }
  
  .event h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .event h2 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  
  .event-image-container {
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: transparent;
    color: #fff;
    max-width: 250px;
    margin: auto;
  }
  
  .event-image-container img {
    height: 20rem;
    border-radius: 50%;
    width: 25rem;
  }
  
  .event-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }
  
  .event-info h6 {
    font-size: 12px;
    justify-content: center;
    display: inherit;
  }
  
  .event-info span {
    color: var(--color-green);
  }
  
  .event-info h2 {
    font-size: 20px;
    justify-content: center;
    display: flex;
  }
  
  .event-info .event-content {
    padding-bottom: 10px;
  }
  
  .event-info .event-content p {
    font-size: 14px;
  }
  
  .btn {
    justify-content: center;
    display: flex;
  }
  }

/*---------------- MEDIA QUERY : RESPONSIVENESS END  -------------------*/

.home-courses .slide {
  text-align: center;
  position: relative;
  background: #f0fdfa;
  overflow: hidden;
  border: 1px solid #00000029;
}

.home-courses .slide:hover .content {
  bottom: 0;
}

.home-courses .slide .image {
  padding: 2rem;
}

.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 50vh;
}

.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #0eb582;
  padding: 2rem 3rem;
}

.home-courses .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}

.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}

.home-courses .slide .content .btn:hover {
  background: #444;
}
