@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  display: grid;
  font-family: "Barlow", sans-serif;
  /*background: #520a71;*/
  color: black;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.ticket {
  margin: auto;
  display: flex;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left {
  display: flex;
}

.image {
  height: 250px;
  width: 350px;
  background-image: url("unesco-ncm.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 8%;
  opacity: 0.95;
}

.admit-one {
  position: absolute;
  color: darkgray;
  height: 250px;
  padding: 0 10px;
  letter-spacing: 0.15em;
  font-size: 12px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
  color: white;
  font-weight: 700;
}

.left .ticket-number {
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  color: white;
}

.ticket-info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.date {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.date span:first-child {
  text-align: left;
  width: 100px;
}

.date span:last-child {
  text-align: right;
  width: 100px;
}

.date .nov-10 {
  color: black;
  font-size: 20px;
  width: 150px;
}

.show-name {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.show-name h1 {
  font-size: 36px;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
  color: #107869;
  font-family: "Saira Stencil One", sans-serif;
}

.time {
  color: #505050;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.time span {
  font-weight: 400;
  color: gray;
}

.left .time {
  font-size: 16px;
  margin-bottom: 10px;
}

.tagline {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid gray;
  font-weight: 700;
}

.location span:first-child {
  text-align: left;
}

.location span:last-child {
  text-align: right;
}

.location .separator {
  font-size: 20px;
}

.right {
  width: 225px;
  border-left: 1px dashed #404040;
}

.right .admit-one {
  color: darkgray;
}

.right .admit-one span:nth-child(2) {
  color: #505050;
}

.right .right-info-container {
  height: 250px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right .show-name h1 {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

.right .time {
  margin-top: 10px;
}

.barcode {
  height: 135px;
}

.barcode img {
  height: 100%;
}

.right .ticket-number {
  color: #505050;
  font-weight: 700;
}